<mat-form-field style="background-color: white; width: 100%;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Release Number">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="min-width: 100%; text-align: center">
  <ng-container matColumnDef="release">
      <th mat-header-cell *matHeaderCellDef>Release Number</th>
      <td mat-cell *matCellDef="let release">
        <mat-button-toggle appDroppable (dragStart)="setRelease(release)" [ngStyle]="{'background-color': release.colour ? release.colour : '#FFF'}" style="text-align: center; color: black;" (change)="openDialog(release);">
          {{release.release}}
        </mat-button-toggle>
      </td>
  </ng-container>
  <ng-container matColumnDef="qty">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let release">{{release.qty}}</td>
  </ng-container>
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef>Container Size</th>
    <td mat-cell *matCellDef="let release">{{release.size}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
