<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput [matDatepicker]="receivedPicker" placeholder="Date Received" [value]="getDate()">
      <mat-datepicker-toggle matSuffix [for]="receivedPicker"></mat-datepicker-toggle>
      <mat-datepicker #receivedPicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Release" value="{{release.release}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Client">
        <mat-option *ngFor="let client of clients" [value]="client.name">
          {{client.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Route">
        <mat-option *ngFor="let route of routes" [value]="route.route">
          {{route.route}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" placeholder="Quantity of 20ft">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Quantity of 40ft">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Choose">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Container Type">
        <mat-option *ngFor="let contType of contTypes" [value]="contType.type">
          {{contType.type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let number of containerNumbers" (removed)="remove(number)">
          {{number}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Container Numbers"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="dueDayPicker" placeholder="Due Day" [value]="getDate()">
      <mat-datepicker-toggle matSuffix [for]="dueDayPicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDayPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" placeholder="Due Time" value="{{getTime()}}" onchange="console.log(value)">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Reference">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Notes">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Status">
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="completeDayPicker" placeholder="Complete Date" [value]="getDate()">
      <mat-datepicker-toggle matSuffix [for]="completeDayPicker"></mat-datepicker-toggle>
      <mat-datepicker #completeDayPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Invoiced">
        <mat-option *ngFor="let invoiceStatus of invoiceStatuses" [value]="invoiceStatus">
          {{invoiceStatus}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Rate x Quantity">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Release Rate 20ft">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Release Rate 40ft">-->
    <!--</mat-form-field>-->
    <!--<br>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Booking Fees">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="FAF%">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput [matDatepicker]="date" placeholder="Date" [value]="getDate()">-->
      <!--<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #date></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--<br>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Subbie-Rate 20ft">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Subbie-Rate 40ft">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="FAF Charge">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Booking Fees Cost">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Gross Profit">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Cost of Sale">-->
    <!--</mat-form-field>-->
    <!--<br>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Total">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Gross Margin%">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Capacity">-->
    <!--</mat-form-field>-->
    <br>
    <button mat-raised-button (click)="submitForm()" style="margin: 5px" color="primary">Submit</button>
  </form>
</mat-card>

