<table mat-table [dataSource]="dataSource" class="mat-elevation-z5" style="min-width: 100%;">
  <ng-container matColumnDef="truckID">
    <th mat-header-cell *matHeaderCellDef>Truck ID</th>
    <td mat-cell *matCellDef="let truck">
      {{truck.id}}
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound1">
    <th mat-header-cell *matHeaderCellDef>Round 1</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[0].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[0].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound2">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 2</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[1].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[1].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound3">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 3</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[2].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[2].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound4">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 4</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[3].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[3].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound5">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 5</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[4].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[4].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound6">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 6</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[5].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[5].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound7">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 7</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[6].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[6].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <ng-container matColumnDef="dayRound8">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30%">Round 8</th>
    <td mat-cell *matCellDef="let truck">
      <truckRoundPlanner *ngIf="day" [slots]="truck.dayRounds[7].slots"></truckRoundPlanner>
      <truckRoundPlanner *ngIf="!day" [slots]="truck.nightRounds[7].slots"></truckRoundPlanner>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="mat-elevation-z5" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
<br>
<!--Buttons for other feature or interact with the planning sheet-->
<button mat-raised-button color="primary" (click)="updateTable()" id="button">{{dayOrNight}}</button><br><br>
