<mat-toolbar color="primary">
  <button mat-button routerLink="/">Recur</button>
  <button mat-button *ngIf="canShow" routerLink="/planning">Planning</button>
  <button mat-button *ngIf="canShow" [matMenuTriggerFor]="menu">Release Management</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/release/add">Add release</button>
    <button mat-menu-item routerLink="/release/edit">Edit release</button>
  </mat-menu>
  <span style="flex: 1 1 auto"></span>
    <button mat-button *ngIf="canShow" routerLink="/admin">Admin</button>
    <button mat-button *ngIf="!canShow" routerLink="/login">Login</button>
    <button mat-button *ngIf="canShow" (click)="logout()">Logout</button>
</mat-toolbar>
