<html>
<head>
  <script
    src="../../../../../../Documents/GitHub/DispatchManagerFrontEnd/frontend/src/app/planning/planning.component.ts"></script>
</head>
<script src="./view-location-list.js"></script>
<body>
<button mat-raised-button color="primary" class="btn btn-lg btn-outline-primary" (click)="add()">Add New Location</button>
<ul>
    <li *ngFor="let location of locations; let i=index">
      {{i}}{{ location.name }} {{location.address}} {{location.opentime}} {{location.closetime}} {{location.type}} {{location.require}}
	  <a href="#" (click)="view(i)" onclick="return false">Edit </a><a href="#" (click)="deleteLocation(location.name)" onclick="return false">Delete</a>
      </li>
  </ul>
<viewlocationinformation hidden></viewlocationinformation>
</body>
<html>
