<mat-button-toggle-group style="height: 40px; padding: 2px">
  <mat-button-toggle appDropzone (contextmenu)="deleteRelease(0)" (drop)="updateRelease(0)" [ngStyle]="{'background-color': releases[0] ? (releases[0].colour ? releases[0].colour : '#FFF') : '#FFF'}" matTooltip="{{releases[0] ? releases[0].release : 'None'}}"></mat-button-toggle>
  <mat-button-toggle appDropzone (contextmenu)="deleteRelease(1)" (drop)="updateRelease(1)" [ngStyle]="{'background-color': releases[1] ? (releases[1].colour ? releases[1].colour : '#FFF') : '#FFF'}" matTooltip="{{releases[1] ? releases[1].release : 'None'}}"></mat-button-toggle>
  <mat-button-toggle appDropzone (contextmenu)="deleteRelease(2)" (drop)="updateRelease(2)" [ngStyle]="{'background-color': releases[2] ? (releases[2].colour ? releases[2].colour : '#FFF') : '#FFF'}" matTooltip="{{releases[2] ? releases[2].release : 'None'}}"></mat-button-toggle>
</mat-button-toggle-group>
